.bg-1 {
    background-image: url(../img/backgrounds/bg-1.html)
}
.bg-2 {
    background-image: url(../img/backgrounds/bg-2.html)
}
.bg-3 {
    background-image: url(../img/backgrounds/bg-3.html)
}
.bg-4 {
    background-image: url(../img/backgrounds/bg-4.html)
}
.bg-5 {
    background-image: url(../img/backgrounds/bg-5.html)
}
.bg-6 {
    background-image: url(../img/backgrounds/bg-6.html)
}
.bg-7 {
    background-image: url(../img/backgrounds/bg-7.html)
}
.bg-texture {
   background-image: url(../img/backgrounds/bg-texture.html)
}

.bg-8 {
    background-image: url(../img/backgrounds/bg-8.html);
}