.customer-details .nav-link {
    color: #505050;
    padding: 15px 20px !important;
    background: transparent !important;
    border: 0px !important;
}
.customer-details .nav-link:focus {
    outline: 0px !important;
}

.customer-details .nav-link.active {
    background: #0060ff !important;
    box-shadow: none !important;
    padding: 15px 20px !important;
    color: #fff !important;
}
.customer-details .nav-link.active span {
    color: #fff !important;
}
