.fs-10 {
    font-size: 10px !important;
}

.fs-11 {
    font-size: 11px !important;
}

.fs-12 {
    font-size: 12px !important;
}

.fs-13 {
    font-size: 13px !important;
}

.fs-14 {
    font-size: 14px;
}

.fs-15 {
    font-size: 15px;
}

.fs-16 {
    font-size: 16px;
}

.fs-17 {
    font-size: 17px;
}

.fs-18 {
    font-size: 18px;
}

.fs-19 {
    font-size: 19px;
}

.fs-20 {
    font-size: 20px;
}

.fs-21 {
    font-size: 21px;
}

.fs-22 {
    font-size: 22px;
}

.fs-23 {
    font-size: 23px;
}

.fs-24 {
    font-size: 24px;
}

.fs-25 {
    font-size: 25px;
}

.fs-30 {
    font-size: 30px;
}

.bg-1 {
    background: #17a2b8 !important;
}

.bg-2 {
    background: #28a745 !important;
}

.bg-3 {
    background: #ffc107 !important;
}

.bg-4 {
    background: #dc3545 !important;
}

.box-shadow-primary {
    box-shadow: -3px 6px 13px 3px #a9a8af4d;
}

.brround {
    border-radius: 50% !important;
}

.counter-icon {
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    font-size: 29px;
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
    background-color: #0060ff;
}

.daterangepicker td.in-range {
    background-color: rgb(239 105 61 / 13%);
}

.daterangepicker td.active,
.daterangepicker td.active {
    background-color: #0060ff;
}

.custom-btn {
    background: #084277;
    border: none;
    box-shadow: 0 2px 6px 0 rgb(8 66 119 / 36%);
}

.btn-outline-dark {
    background: white;
    font-weight: 700;
}

.btn-outline-dark:hover {
    background: white;
    color: #000000;
    font-weight: 700;
}

.btn-outline-dark:focus {
    box-shadow: none;
    color: #000000;
}

.date-text {
    position: absolute;
    top: 6px;
    left: 12px;
    color: #aaa;
}

.footer-content {
    background: #fff !important;
    color: #000000;
    box-shadow: 0px 0rem 1rem 0px rgb(0 0 0 / 10%);
}

.sidebar-bunker .search__text {
    border: 1px solid rgb(8 66 119);
}

.search__text:focus {
    border-color: rgb(8 66 119);
}

.btn-success-soft {
    color: rgb(8 66 119);
    background-color: rgb(8 66 119 / 20%);
    border-color: rgb(8 66 119 / 42%);
}

.btn-success-soft:focus {
    color: rgb(8 66 119);
    background-color: rgb(8 66 119 / 20%);
    border-color: rgb(8 66 119 / 42%);
    box-shadow: none;
}

.btn-success {
    color: rgb(255, 255, 255);
    background-color: #219653;
    border-color: #219653;
    box-shadow: none;
}

.btn-success:hover {
    color: rgb(255, 255, 255);
    background-color: #219653;
    border-color: #219653;
    box-shadow: none;
}

.btn-success:disabled {
    color: rgb(255, 255, 255);
    background-color: rgb(233 90 32);
    border-color: rgb(228 78 10);
}

.btn-primary {
    color: rgb(255, 255, 255);
    background-color: rgb(0 96 255);
    border-color: rgb(0 96 255);
    box-shadow: rgb(8 66 119 / 41%) 0px 2px 6px 0px;
}

.btn-primary:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(0 96 255);
    border-color: rgb(0 96 255);
    box-shadow: rgb(8 66 119 / 41%) 0px 2px 6px 0px;
}

.sidebar-nav ul li .nav-second-level li a:hover {
    color: rgb(0 96 255);
    background-color: transparent;
}

.form-control:focus {
    border-color: #0060ff63;
    box-shadow: none;
}

.sidebar-logo {
    display: block;
}

.sidebar-fav {
    display: none;
}

.sidebar-collapse .sidebar .sidebar-logo {
    display: none;
}

.sidebar-collapse .sidebar .sidebar-fav {
    display: block;
    width: 45px;
}

.notification-badge {
    padding: 4px;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background: #0060ff;
}

.w-px-75 {
    width: 75px !important;
}

.card-header-radius {
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
}

.w-px-160 {
    width: 160px;
}

.w-px-100 {
    width: 100px;
}

.ps-90 {
    padding-left: 90px;
}

.theme-hover {
    position: relative;
}

.theme-hover img {
    display: block;
    width: 100%;
    height: auto;
}

.theme-hover-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: #0d0d0d78;
}

.theme-hover:hover .theme-hover-overlay {
    opacity: 1;
}

.theme-hover-btn {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.update-bg {
    background-image: url(/assets/dist/img/update-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-width: 1200px) {
    .three-columns-grid {
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .three-columns-grid {
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 767px) {
    .three-columns-grid {
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 768px) {
    .two-columns-grid {
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 767px) {
    .two-columns-grid {
        display: grid;
        grid-auto-rows: 1fr;
        grid-template-columns: 1fr;
    }
}

.ps-57 {
    padding-left: 57px !important;
}

.btn-outline-stake {
    padding: 8px 16px;
    border: 1px solid #0194fe;
    background-position: 0;
    background-color: transparent;
    border-radius: 10px;
    color: #252525;
}

.btn-outline-stake:hover {
    background-image: linear-gradient(to right, #038fff, #1451ff);
    color: #fff;
}
